div.w{
	display: inline-block;
}
#a{
	
	margin-top:100px;
	margin-left:100px;
	
width:500px;
height:100px;
background-color:red;
padding-left:10px;
position:fixed;

}

#b{
	margin-top:100px;
	margin-left:400px;
	
width:100px;
height:100px;
background-color:blue;
position:fixed;
}

body{
	background-image:url("1.jpg");
	background-repeat:no-repeat;
	
}